# hidden files
.*
!.git*
!.editorconfig
!.nojekyll
!.travis.yml

# bundler cache
_site
vendor

# rubygem
*.gem

# npm dependencies
node_modules
package-lock.json

# non upload files
*cameraros.md
*cpp.md
*remotenetwork.md
*xycar.md
*pygame.md
xxx*

# can't upload image
2022*.png